@tailwind base;
@layer base {
    @font-face {
        font-family: 'IRANSans-web';
        src: url('../public/Assets/IRANSans-Bold-web.eot');

        src: url('../public/Assets/IRANSans-Bold-web.eot?#iefix') format('eot'),  /* IE6–8 */
        url('../public/Assets/IRANSans-Bold-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
        url('../public/Assets/IRANSans-Bold-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../public/Assets/IRANSans-Bold-web.ttf') format('ttf');
        font-weight: bold;
    }
    @font-face {
        font-family: 'IRANSans-web';
        src: url('../public/Assets/IRANSans-Medium-web.eot');

        src: url('../public/Assets/IRANSans-Medium-web.eot?#iefix') format('eot'),  /* IE6–8 */
        url('../public/Assets/IRANSans-Medium-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
        url('../public/Assets/IRANSans-Medium-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../public/Assets/IRANSans-Medium-web.ttf') format('ttf');
        font-weight: 500;
    }
    @font-face {
        font-family: 'IRANSans-web';
        src: url('../public/Assets/IRANSans-UltraLight-web.eot');

        src: url('../public/Assets/IRANSans-UltraLight-web.eot?#iefix') format('eot'),  /* IE6–8 */
        url('../public/Assets/IRANSans-UltraLight-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
        url('../public/Assets/IRANSans-UltraLight-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../public/Assets/IRANSans-UltraLight-web.ttf') format('ttf');
        font-weight: 200;
    }
    @font-face {
        font-family: 'IRANSans-web';
        src: url('../public/Assets/IRANSans-Light-web.eot');

        src: url('../public/Assets/IRANSans-Light-web.eot?#iefix') format('eot'),  /* IE6–8 */
        url('../public/Assets/IRANSans-Light-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
        url('../public/Assets/IRANSans-Light-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../public/Assets/IRANSans-Light-web.ttf') format('ttf');
        font-weight: 300;
    }


    @font-face {
        font-family: 'IRANSans-web';
        src: url('../public/Assets/IRANSans-web.eot');

        src: url('../public/Assets/IRANSans-web.eot?#iefix') format('eot'),  /* IE6–8 */
        url('../public/Assets/IRANSans-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
        url('../public/Assets/IRANSans-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../public/Assets/IRANSans-web.ttf') format('ttf');
        font-weight: normal;
    }
    .fade {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }
    .fade.active {
        opacity: 0.5;
    }
    .container-app {
        @apply px-[40px] md:px-[80px]

    }
    body {
        direction: rtl;
        /*font-family: "IRANSans",sans-serif;*/
        box-sizing: border-box;
        font-family: 'IRANSans-web',sans-serif;
    }
    textarea {
        resize: none;
    }
    .upload{
        @apply mb-4 md:mb-0  cursor-pointer  px-6 rounded-md  text-white font-medium text-[12px] transition-all duration-300 bg-black text-white rounded-md hover:bg-[#143fcd]
    }

    #inputTag{
        display: none;
    }
    #personPhoto{
        display: none;
    }
    label{
        cursor:pointer;
    }
    #imageName{
        color:green;
    }
    .direction-ltr{
        direction: ltr !important;
    }
    .fontMain {
        @apply font-main
    }

    .center-item{
        @apply  flex items-center justify-center
    }
    .between-items {
        @apply  flex items-center justify-between
    }
    .around-items {
        @apply  flex items-center justify-around
    }
    .col-items {
        @apply  flex flex-col
    }
    .row-items {
        @apply  flex flex-row
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
}
@tailwind components;
@layer components {
    .notification-bar{
        background-image: linear-gradient(82deg, #dfe3fd, #fae7e1);
        font-weight: 300;
    }
    .hover_Me{
            text-align: center;
            height: 40px;
            border: 2px solid transparent;
    }

    .hover_link {
        @apply  hover:border-b hover:border-blue-400 hover:py-1 cursor-pointer
    }
    .hover_Me:hover{
        border-bottom: 2px solid #143fcd;
        -webkit-transition: all 500ms linear;
        -moz-transition: all 500ms linear;
        -ms-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear;
    }

    .transMovemt{
        transform: translate3d(0px, 0px, 0px)
    }
    .container-slider {
        padding: 40px;
        background-image: linear-gradient(89deg, #fff, #fff 31%, hsla(0, 0%, 100%, 0));
    }


    .slick-slide img {
        margin: auto;
    }
    .toastBody {
        font-family: 'IRANSans-web',sans-serif;
        color: #ffffff; /* #10171D */
        font-size: 0.7rem !important;
        text-align: right;
    }
    .card {
        backdrop-filter: blur(15px) saturate(100%);
        -webkit-backdrop-filter: blur(15px) saturate(100%);
        background-color: rgba(185, 198, 236, 0.12);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
    }

}
.toast-success-container {
    color: #000000 !important;
    border-radius: 8px !important;
    background: #090909 !important;
    box-shadow: 0px 1px 5px rgba(248, 175, 175, 0.1) !important;
}



@tailwind utilities


